
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>

<!-- Google Prettify - https://code.google.com/p/google-code-prettify/wiki/GettingStarted -->
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&lang=html&lang=js&skin=desert"></script>


<!-- <script src="/assets/js/plugins.js"></script> -->
<script src="/assets/js/jquery.flexslider-min.js"></script>
<script src="/assets/js/slimbox2.js"></script>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<script src="/assets/js/script.js"></script>

<script type="text/javascript">
google.load("feeds", "1") //Load Google Ajax Feed API (version 1)
</script>